@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(https://images.unsplash.com/photo-1529954468384-d7e775f74799?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)
    no-repeat center center/cover;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  letter-spacing: 1.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.clock {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 8px solid rgb(201, 192, 192);
}

.hand {
  width: 50%;
  height: 4px;
  background: rgb(201, 192, 192);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s ease-in-out;
}

.date {
  margin-top: 2.5rem;
  padding: 1rem;
  letter-spacing: 0.2rem;
  font-size: 25px;
  font-weight: bold;
  color: rgb(201, 192, 192);
}

.quote {
  padding: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}

.btn {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 50px;
  background-color: rgba(165, 165, 165, 0.3);
  color: rgb(199, 199, 199);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

@media (max-width: 440px) {
  .clock {
    width: 250px;
    height: 250px;
  }
  .quote {
    margin-top: -8px;
    font-size: 8px;
  }
  .btn {
    padding: 6px;
    font-size: 10px;
    margin-top: -20px;
  }
}
